.main
  .main_content
    .main_task_ex
      .task_name_ex
        タスク名
      .task_complite_time_ex
        完了予定日
      .task_time_ex
        開始日
    .main_task
      .task_name
        このアプリを完成させる
      .task_complite_time
        2020年5月20日
      .task_time
        2020年5月13日
    .main_task
      .task_name
        筋トレをする
      .task_complite_time
        毎日
      .task_time
        2020年5月13日
    .main_task
      .task_name
        javaの勉強をする
      .task_complite_time
        毎日
      .task_time
        2020年5月13日
    .main_task_new
      = link_to "タスクの追加", "#", class: "main_task_new_btn"